@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Através do seguinte link pode ver e interagir com a API do projeto WebServices:</p>
    <a href="http://localhost:63233/swagger/index.html">swagger API</a>
</div>
